/**********************Tag *********************/

body {
    background-color: #fdfdfd;
    margin: 0;
}


/*****************Class*********/

.one {
    background-color:white;
    border-style: dashed none none;
    width: 99%;
    border-width: 1px;
}
.two {
    background-color:white;
    border-style: dashed none none;
    width: 99%;
    border-width: 1px;

}
.head-container {
    background-color: white;
}

.header {
    padding: 0px 0px 0px 20px;
}
.image1 {
    position: relative;
    left: 10px;
}
.head-under1{
    width: 33.3%;
    position: relative;
    display: inline-block;
    margin: 0px;
    background-color: #a3e0dc;
    border: 0;
    align: center;
    border-spacing: 0px;
    border-collapse: collapse;

}
.head-under2{
    width: 33.3%;
    position: relative;
    display: inline-block;
    margin-left: -4px;
    background-color: #a3e0dc;
}
.head-under3{
    width: 33.3%;
    position: absolute;
    display: inline-block;
    margin-left: -4px;
    background-color: #a3e0dc;
}
.block-one{
    height: 400px;
    width: 33.3%;
    position: relative;
    background-color: #ffffff;
    display: inline-block;
    margin-top: -5px;
    border-collapse: collapse;
    border-spacing: 0px;
}
.block-two{
    height: 400px;
    width: 33.3%;
    background-color: #ececec;
    position: absolute;
    display: inline-block;
    margin-left: 0px;
    margin-top: -5px;
}
.block-three{
    height: 400px;
    width: 33.3%;
    background-color: #dddddd;
    position: absolute;
    display: inline-block;
    margin-left: 33.3%;
    margin-top: -5px;
}
.btc{
position: absolute;
left: 20px;
top: 14%;
}
.eth{
    position: absolute;
    left: 25px;
    top: 33%;
    }
.zen{
    position: absolute;
    left: 20px;
    top: 55%;
    }
.clo{
        position: absolute;
        left: 20px;
        top: 75%;
        }
.table-one{
    margin: 0 0 0 0;
    width: 100%;
}
.text-one{
    padding: 2% 5% 0 2%;
    position: relative;
}
.text-two{
    padding: 7% 5% 0 2%;
    position: relative;
}
.text-three{
    padding: 11% 5% 0 2%;
    position: relative;
}
.text-four{
    padding: 8% 5% 0 2%;
    position: relative;
}
.v1{
    left: 18%;
    height: 300px;
    border-left: 1px dashed black;
    position: absolute;
    top: 70px;
    margin: 0 0 0 0;

}
.table-two{
    width: 100%;
    position: absolute;
    margin: 30px;
}
.underheader{
    margin: 0 0 0 0;
    width: 100%;
}
.under-one{
    text-align: center;
}